---
title: ESP Web Tools Installer
linkTitle: Install Software
menu:
  main:
    weight: 20

---
<script
  type="module"
  src="https://unpkg.com/esp-web-tools@9/dist/web/install-button.js?module"
></script>

  

{{< blocks/cover title="ESP Web Tools installer" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Connect your pc-switch with your pc and click connect to flash the firmware.
</p>

<esp-web-install-button
  manifest="/pc-switch/firmware_build/manifest.json"
></esp-web-install-button>

{{< /blocks/cover >}}

{{% blocks/lead %}}

Afterwards you can connect to the "PC-Switch Fallback Hotspot" and setup your WiFi

{{% /blocks/lead %}}




{{% blocks/lead %}}

You should now see the pc-switch in Home Assistant devices

{{% /blocks/lead %}}
